.grid-toggle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	width: auto;
}

.loader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.company-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}

.company-length {
	font-size: 1.5rem;
	margin-bottom: 10px;
	color: aliceblue;
}

.p-paginator {
	display: flex;
	justify-content: center;
	gap: 1rem;
	color: aliceblue;
}

.p-paginator-element {
	color: aliceblue;
}

.p-paginator-pages {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.p-dropdown {
	border: 1px solid #495057;
	width: 50px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.p-dropdown-panel {
	background-color: #2d3748;
	color: aliceblue;
	display: flex;
	align-items: center;
	justify-content: center;
}

.p-dropdown-items-wrapper {
	display: flex;
	justify-content: center;
	gap: 5px;
	width: 100%;
}

.p-dropdown-items {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
}

.p-paginator-element {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.p-paginator-element:hover {
	background-color: #495057;
	color: aliceblue;
}

.p-focus {
	background-color: #495057;
}

.p-disabled {
	opacity: 0.5;
}

.p-highlight {
	background-color: aliceblue;
	color: #495057;
}

.p-skeleton {
	background-color: #2d3748;
	border-radius: 5px;
}

.p-skeleton:after {
	background: linear-gradient(
		90deg,
		rgba(156, 156, 156, 0),
		rgba(111, 111, 111, 0.4),
		rgba(105, 105, 105, 0)
	);
	content: '';
}
