.filter-bar {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	padding: 0 1rem;
	max-width: 600px;
	width: 80%;
}

.checkbox-label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: #fff;
}
