.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 2rem;
	gap: 3rem;
}

.appTitle {
	color: #fff;
	border: 1px solid #fff;
	padding: 1rem 1rem;
	text-transform: uppercase;
	margin-top: 2rem;
	text-align: center;
}

.chips-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	width: 40em;
}

.p-chips {
	font-size: 1rem;
	border: 1px solid #fff;
	background: rgba(217, 217, 217, 0);
	width: 40em;
	outline: none;
	border-radius: 60px;
	padding: 0.5rem;
}

.p-inputtext {
	color: #d0d6f9;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
}

.p-chips-token {
	border: 1px solid #fff;
	background-color: #e5e7eb;
	padding: 0.4rem;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.p-chips-input-token input {
	color: #d0d6f9;
}

.p-chips-token-icon {
	margin-top: 2px;
}

.placeholder-chips {
	color: #d0d6f9;
	font-size: 1rem;
}

@media (max-width: 768px) {
	.formInput {
		width: 100%;
	}
}
